#feature-1-section {
  display: flex;
  flex-direction: row;
  top: 1150px;
  left: 18%;
  position: absolute;
}

#feature-1 {
  display: flex;
  flex-direction: column;
  width: 366px;
}

#feature-1-first-p {
  /* One card for all your payments */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  /* or 60px */

  /* Primary */

  color: #554dde;
}

#feature-1-second-p {
  /* Get 3% back on everything you buy with the Draft card.
   Register today and enjoy every aspect of your business. */

  /* Body/Main */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  /* Secondary/Light */

  color: #6a6d9e;
}

#feature-1-img {
  width: 463px;
  height: 268px;
}

#feature-2-section {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 1700px;
  left: 18%;
}

#cards {
  width: 463px;
  height: 458px;
  display: flex;
  flex-direction: column;
}

#cards-first-div {
  left: 18%;
  display: flex;
  flex-direction: row;
}

#balance {
  width: 223px;
  height: 180px;

  background: #ffffff;
  /* Stroke */

  border: 0.5px solid #cad6f1;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(22, 25, 79, 0.05);
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#last-transaction {
  width: 223px;
  margin-left: 20px;
  height: 180px;
  background: #ffffff;
  /* Stroke */

  border: 0.5px solid #cad6f1;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(22, 25, 79, 0.05);
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#last-transaction-p,
#balance-p {
  /* Body/Main */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  color: #000000;

  margin-top: 40px;
}

#last-transaction-price,
#balance-price {
  /* Heading/H3 */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  /* identical to box height, or 60px */

  /* Primary */

  color: #554dde;

  margin-top: -10px;
}

#last-transaction-price {
  margin-left: -60px;
}

#balance-p {
  margin-left: -45px;
}
#cards-second-div {
  width: 463px;
  height: 248px;
  margin-top: 20px;
  background: #ffffff;
  /* Stroke */

  border: 0.5px solid #cad6f1;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(22, 25, 79, 0.05);
  border-radius: 50px;
}

#cards-second-div-img {
  padding-left: 58px;
  padding-top: 37px;
}

#feature-2 {
  display: flex;
  flex-direction: column;
  width: 369px;
  height: 384px;
  margin-left: 132px;
}

#feature2 {
  display: flex;
  flex-direction: column;
  width: 369px;
}

#manage {
  width: 366px;
  height: 180px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  /* or 60px */

  /* Primary */

  color: #554dde;
}

#draft {
  /* With Draft, book keeping, banking, 
  and invoices are all in one place. 
  You will always know where you stand. */

  width: 366px;
  height: 90px;

  /* Body/Main */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  /* Secondary/Light */

  color: #6a6d9e;
}

#learn-more-button {
  width: 200px;
  height: 78px;
  /* Secondary/Dark */

  background: #16194f;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 15px 15px 18px;
}

#feature-3-section {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 2440px;
  left: 18%;
}

#support {
  display: flex;
  flex-direction: column;
}

#support-first-p {
  /* We support you in 5 different languages */

  width: 366px;
  height: 180px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  /* or 60px */

  /* Primary */

  color: #554dde;
}

#support-second-p {
  /* Our support team in here to help you in 5 languages - English, French, Spanish,Polish and German. */

  width: 366px;
  height: 90px;

  /* Body/Main */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  /* Secondary/Light */

  color: #6a6d9e;
}

#support-profile-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -55px;
  margin-top: 20px;
}

#twenty {
  /* +20 */

  width: 34px;
  height: 30px;

  /* Body/Main */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  /* Secondary/Light */

  color: #6a6d9e;

  margin-left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#ellipse14,
#ellipse15,
#ellipse16,
#ellipse17,
#ellipse18,
#ellipse19 {
  margin-left: -25px;
}

#chat {
  display: flex;
  flex-direction: column;
  margin-left: 135px;
  margin-top: 30px;
  width: 441px;
}

#first-chat,
#second-chat,
#third-chat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#first-chat-p {
  /* Rectangle 65 */

  width: 366px;
  height: 70px;

  background: #ffffff;
  border-radius: 30px 30px 30px 0px;

  color: #6a6d9e;

  /* Body/Main */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#first-chat-img,
#third-chat-img {
  width: 55px;
  height: 55px;
  margin-right: 20px;
}

#first-chat-caption,
#second-chat-caption,
#third-chat-caption {
  /* Caption */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  /* identical to box height, or 22px */

  /* Secondary/Light */

  color: #6a6d9e;

  margin-top: -10px;
}

#second-chat-p {
  /* Rectangle 66 */
  width: 366px;
  height: 70px;
  /* Secondary/Light */

  background: #6a6d9e;
  border-radius: 30px 30px 30px 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);

  display: flex;
  justify-content: center;
  align-items: center;

  /* Body/Main */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */

  color: #ffffff;
}

#second-chat-img {
  width: 55px;
  height: 55px;
  margin-left: 20px;
}

#second-chat-p-transform {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  direction: ltr;
}

#third-chat-p {
  /* Rectangle 67 */

  width: 366px;
  height: 110px;

  background: #ffffff;
  border-radius: 30px 30px 30px 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #6a6d9e;

  /* Body/Main */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

#plans-exceptional {
  /* An exceptional service, at the right price. */

  position: absolute;
  width: 735px;
  height: 60px;
  left: 24%;
  top: 3180px;

  /* Heading/H3 */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  /* identical to box height, or 60px */

  /* Primary */

  color: #554dde;
}

#plans-start {
  /* Start with our free plan and switch to premium as you grow */

  position: absolute;
  width: 628px;
  height: 36px;
  left: 406px;
  top: 3260px;

  /* Body/Intro */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

  /* Secondary/Dark */

  color: #16194f;
}

#plans {
  position: absolute;
  top: 3420px;
  left: 18%;
  height: 1150px;
  width: 920px;
  display: flex;
  flex-direction: row;
}

#free-plans-1,
#free-plans-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  height: 1131px;

  background: #ffffff;
  /* Stroke */

  border: 0.5px solid #cad6f1;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(22, 25, 79, 0.05);
  border-radius: 50px;
}
#free-plans-2 {
  margin-left: 60px;
}

#free-or-premium {
  /* FREE */

  width: 93px;
  height: 60px;
  margin-top: 40px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  /* identical to box height, or 60px */

  text-align: center;

  color: #000000;

  display: flex;
  justify-content: center;
  align-items: center;
}

#price {
  width: 119px;
  height: 90px;
  margin-top: 10px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 150%;
  /* identical to box height, or 90px */

  text-align: center;

  color: #000000;
}

#manage {
  /* Manage your business with a simple and efficient account */

  width: 340px;
  height: 60px;

  /* Body/Main */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  text-align: center;

  /* Secondary/Light */

  color: #6a6d9e;

  margin-top: -25px;
}

#get-started {
  width: 170px;
  height: 54px;
  left: 390px;
  top: 3788px;

  /* Caption */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  /* identical to box height, or 22px */

  text-align: center;

  /* Secondary/Dark */

  color: #16194f;

  /* Secondary/Dark */

  border: 1.5px solid #16194f;
  box-sizing: border-box;
  border-radius: 20px;

  background: white;

  margin-top: 20px;
}

#free-plans-1-functions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 316px;
  height: 313px;
  margin-left: -25px;
  margin-top: -40px;
}

#free-plans-1-functions-1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 13px;
}
#check-icon-1 {
  background-image: url('../pics/Check-icon\ 1.png');
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
#check-icon-2 {
  background-image: url('../pics/Check-icon\ 2.png');
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

#free-plans-1-functions-p-thick {
  height: 26px;

  /* Medium */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  /* identical to box height, or 26px */

  color: #000000;
}

#free-plans-1-functions-p-gray {
  height: 26px;
  /* Medium */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  /* identical to box height, or 26px */

  color: #b7b7b7;
}
